### create a pandas series

In [ ]:
import pandas as pd
import numpy as np
s=pd.Series([1,2,3,4,5,6,7])

In [ ]:
s.values

In [ ]:
s.index

In [ ]:
index1=['M','T','W','T','F','S','S']

In [ ]:
data1=[1,2,3,4,5,6,7]
s2=pd.Series(data1,index1)

In [ ]:
s2

In [ ]:
s2.name='Day of the week'
s2

In [ ]:
s2*2

In [ ]:
np.log(s2)

In [46]:
s2['M':'W']

M     1
T    20
W     3
Name: Day of the week, dtype: int64

In [47]:
s2['M':'S']

M     1
T    20
W     3
T     4
F     5
S     6
S     7
Name: Day of the week, dtype: int64

In [48]:
s2[1:3]

T    20
W     3
Name: Day of the week, dtype: int64

In [49]:
s2[1]=20
s2

M     1
T    20
W     3
T     4
F     5
S     6
S     7
Name: Day of the week, dtype: int64

In [50]:
s2.cumsum()

M     1
T    21
W    24
T    28
F    33
S    39
S    46
Name: Day of the week, dtype: int64

In [51]:
s2.max()

20

### List comprehension

In [52]:
list=[x**2 for x in s2]
list

[1, 400, 9, 16, 25, 36, 49]

In [53]:
'S' in s2

True

## Data Structures

In [56]:
### cannot have different types in a column
import datetime

In [57]:
dt=datetime.datetime(2013,12,1)
end=datetime.datetime(2013,12,8)
step=datetime.timedelta(days=1)

In [58]:
dates=[]
while (dt<end):
 dates.append(dt.strftime('%m-%d'))
 dt+=step

In [59]:
dates

['12-01', '12-02', '12-03', '12-04', '12-05', '12-06', '12-07']

In [63]:
d={'Date':dates,'Tokyo':[1,2,3,4,5,6,7],'Mumbai':[1,2,3,4,5,6,7],'London':[1,2,3,4,5,6,7]}

In [64]:
pd.DataFrame(d)

    Date  London  Mumbai  Tokyo
0  12-01       1       1      1
1  12-02       2       2      2
2  12-03       3       3      3
3  12-04       4       4      4
4  12-05       5       5      5
5  12-06       6       6      6
6  12-07       7       7      7