In [38]:
import pandas as pd
import seaborn as sns

### Read data

In [39]:
data=pd.read_csv('data.csv')

In [40]:
data.head()

,day,site,new_customer,platform,visits,distinct_sessions,orders,gross_sales,bounces,add_to_cart,product_page_views,search_page_views,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1/1/2013 0:00,Acme,1.0,Android,24,16,14,1287.0,4,16,104,192,NaN,NaN,NaN
1,1/1/2013 0:00,Acme,1.0,BlackBerry,0,0,0,13.0,0,0,1,0,NaN,NaN,NaN
2,1/1/2013 0:00,Sortly,1.0,iPad,0,0,0,98.0,0,0,0,0,NaN,NaN,NaN
3,1/1/2013 0:00,Acme,1.0,Windows,922,520,527,60753.0,149,610,3914,7367,NaN,NaN,NaN
4,1/1/2013 0:00,Botly,1.0,Android,11,10,11,1090.0,0,11,4,19,NaN,NaN,NaN

In [41]:
data.columns

Index(['day', 'site', 'new_customer', 'platform', 'visits',
       'distinct_sessions', 'orders', 'gross_sales', 'bounces', 'add_to_cart',
       'product_page_views', 'search_page_views', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14'],
      dtype='object')

### Wrangling the data

### Rows and columns

In [42]:
data.shape

(21061, 15)

### Gives Multiple outputs per line

In [43]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Data Exploration

In [45]:
data.describe()

,new_customer,visits,distinct_sessions,orders,gross_sales,bounces,add_to_cart,product_page_views,search_page_views,Unnamed: 12,Unnamed: 13,Unnamed: 14
count,12802.000000,21061.000000,21061.000000,21061.000000,11485.000000,21061.000000,21061.000000,21061.000000,21061.000000,0.0,0.0,0.0
mean,0.448055,1934.708039,1515.205024,62.378994,16473.395821,743.282085,166.250890,4358.198234,8584.187788,NaN,NaN,NaN
std,0.497314,7448.607191,5925.833287,260.279286,51111.354605,3154.697787,505.186834,14327.287354,31120.321365,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN
25%,0.000000,3.000000,2.000000,0.000000,79.000000,0.000000,0.000000,3.000000,4.000000,NaN,NaN,NaN
50%,0.000000,24.000000,19.000000,0.000000,851.000000,5.000000,4.000000,53.000000,82.000000,NaN,NaN,NaN
75%,1.000000,360.000000,274.000000,7.000000,3145.000000,97.000000,43.000000,708.000000,1229.000000,NaN,NaN,NaN
max,1.000000,136057.000000,107104.000000,4916.000000,707642.000000,54512.000000,7924.000000,187601.000000,506629.000000,NaN,NaN,NaN